.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}
/* shared styles start */
.btn-primary{
font-weight: 600;
font-size: 1.25rem;
padding: 20px 40px;
border: none;
border-radius: 8px;
color: white;
background:rgba(229, 84, 115, 1);
}
.background{
width: 300px;
height: 350px;
}

.featured-description{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content:space-around;
}
.featured-icon{
  width: 48px;
  height: 48px;
}
.feature-title{
  font-size: 0.9rem;
  color: rgba(39, 39, 39, 0.8);
  font-weight: 600;
}
.insta-flowers{
  width: 250px;
  height: 350px;
}
/* shared styles end */

/* banner section styles start */
#banner{
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(229, 84, 115, 0.1);
   margin-bottom: 178px;
}
.banner-text-area{
  width: 630px;
}
.banner-title{
    font-size: 5rem;
    color: #272727;
}
.banner-description{
  color: #7c7677;
  font-size: 1.125rem;
  margin-top: 32px;
  margin-bottom: 32px;
}
.banner-flower-image{
  width: auto;
  height: 590px;
  margin-top: 40px;
}
/* banner section styles end */

/* featured flowers section styles start */
#featured-flowers{
max-width: 80%;
margin: 0 auto;
}
.featured-text-area{
  width: 574px;
  text-align: center;
 margin: 0 auto;
}
.featured-flowers-title{
font-size: 2.5rem;
}
.featured-flowers-description{
font-size: 1.125rem;
color: rgba(39, 39, 39, 0.6);
margin-top: 24px;
margin-bottom: 48px;
}
.featured-images-item{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}
.feature-image-one{
  position: absolute;
  z-index: 1;
  top: 1015px;
  left: 200px;
  width: 245px;
  height: 310px;
}
.feature-image-two{
position: absolute;
  z-index: 1;
  top: 1010px;
  left:530px;
  width: 320px;
  height: 320px;
}
.feature-image-three{
  position: absolute;
  z-index: 1;
  top: 1006px;
  right: 210px;
  width: 245px;
  height: 320px;
}
/* featured flowers section styles end */

/* hot deal section styles start */
#hot-deal{
  display: flex;
  justify-content: space-evenly;
  background-color:rgba(229, 84, 115, 0.05);
  margin-top: 100px;
}
.hot-deal-text-item{
  width: 500px;
  text-align: center;
  padding-top: 210px;
  padding-bottom: 80px;
}
.flower-pod-item{
  padding-top: 80px;
  padding-bottom: 80px;
}
#hot-deal-title{
  font-size: 1.5rem;
  font-weight: 800;
}
.off{
  color:#E55473;
}
.hot-deal-description{
  font-size: 1.125rem;
  color: rgba(39, 39, 39, 0.6);
  margin-top: 24px;
  margin-bottom: 32px;
}
.sign-up-button{
font-weight: 700;
font-size: 1.25rem;
padding: 20px 40px;
border: none;
border-radius: 8px;
color: white;
background:rgba(229, 84, 115, 1);
}
/* hot deal section styles end */

/* instagram-item section styles start */
#instagram-item{
  max-width: 80%;
  margin: 100px auto 0 auto;
}
.insta-text-item{
  width: 594px;
  margin: auto;
  text-align: center;
}
.insta-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
}
.insta-description{
  margin-top: 24px;
  margin-bottom: 48px;
font-size: 1.125rem;
color: rgba(39, 39, 39, 0.6);
}

.insta-flowers-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* instagram-item section styles end */

/* latest deals section styles start */
#latest-deals-item{
  height: 450px;
  background-image: url(Rectangle\ 9.png);
  background-repeat: no-repeat;
}
.latest-deals-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
}
.latest-deals-description{
  font-size: 1.125rem;
  color: rgba(39, 39, 39, 0.6);
}
.email-box{
  border: none;
  border-radius: 8px;
  width: 550px;
  height: 64px;
}
.subscribe-button-item{
  color: white;
  background-color: #E55473;
  font-size: 1.25rem;
  width: 150px;
  height: 64px;
  border: none;
  border-radius: 8px;
}
/* latest deals section styles end */

.display-hidden{
  display: none;
}


/* responsive design for mobile devices */
@media screen and (max-width: 576px) {
  #banner{
    flex-direction: column-reverse;
        margin-bottom: 178px;
        align-items: normal;
  }
  .banner-flower-image {
    width: 360px;
    height: 360px;
    margin-top: 20px;
    margin-left: 0px;
}
.banner-text-area{
  width: auto;
}
.banner-title{
  font-size: 1.9rem;
  text-align: center; 
}
.banner-description{
  text-align: center;
  width: 88%;
  margin:20px auto 20px;
}
.btn-primary{
  position: relative;
  left: 100px;
}
.featured-description{
flex-direction: column;
}
.feature-title{
  text-align: center;
}
.featured-item{
  margin: 20px 0px;
}
.featured-images-item{
  display: none;
}
#featured-flowers{
  max-width: 100%;
}
.featured-text-area{
  width: 100%;
}
#hot-deal{
  flex-direction: column-reverse;
}
.flower-pod-item {
  padding-top: 40px;
  padding-bottom: 20px;
}
.hot-deal-text-item{
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.insta-text-item {
  width: auto;
}
.insta-flowers-item{
  grid-template-columns: 1fr;
  gap: 20px;
}
.insta-flowers {
  /* margin: auto; */
    width: 100%;
    height: 350px;
}


}